.shopify/
.vite/
.cursor/
.idea/
.vscode/

node_modules/

/snippets/vite.liquid
/snippets/vite-client.liquid
/snippets/vite-tag.liquid

.env
.env.*

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

._*
*.log
*.key
*.cache
