.price-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-2xs);
  row-gap: 0;

  .price,
  .compare-at-price,
  .unit-price {
    white-space: nowrap;
  }

  .price {
    color: var(--color-foreground);
  }

  // .unit-price {
  //   // display: block;
  //   font-size: min(0.85em, var(--font-paragraph--size));
  //   color: rgb(var(--color-price-rgb) / var(--opacity-subdued-text));
  // }

  .unit-price {
    flex: 100%;
    display: block;
    font-size: min(0.85em, var(--font-paragraph--size));
    color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
  }

  &--on-sale {
    .price {
      color: var(--color-sale-price);
      // font-weight: var(--font-accent--weight);
    }

    .compare-at-price {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: auto;
      text-decoration: none;
      // color: rgb(var(--color-price-rgb) / var(--opacity-subdued-text));
      color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));

      &::before {
        content: '';
        position: absolute;
        inset-block-start: 50%;
        width: 100%;
        transform: rotate(-15deg);
        border-block-end: 1px solid var(--color-sale-price);
      }
    }
  }
}

.tax-note.tax-note.tax-note {
  font-size: min(0.85em, var(--font-paragraph--size));
  font-weight: var(--font-paragraph--weight);
  letter-spacing: var(--font-paragraph--letter-spacing);
  color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
}

product-price.text-block:is(.h1, .h2, .h3, .h4, .h5, .h6) > *:not(.tax-note) {
  margin-block: 0;
}
